<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wujihand-left">

  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="usb_serial_number" default="" />
  <xacro:arg name="expected_handedness" default="" />
  <xacro:arg name="mount_xyz" default="0 0 0" />
  <xacro:arg name="mount_rpy" default="0 0 0" />

  <link name="world" />

  <xacro:include filename="$(find asset_description)/wuji/urdf/left.urdf" />
  <xacro:include filename="$(find wujihand_system)/ros2_control/wujihand-left.ros2_control.xacro" />

  <xacro:wujihand_left_description mesh_pkg="asset_description" />
  <joint name="world_to_left_palm" type="fixed">
    <origin xyz="$(arg mount_xyz)" rpy="$(arg mount_rpy)" />
    <parent link="world" />
    <child link="left_palm_link" />
  </joint>
  <xacro:wujihand_left_ros2_control
    name="wujihand_left"
    use_mock_hardware="$(arg use_mock_hardware)"
    usb_serial_number="$(arg usb_serial_number)"
    expected_handedness="$(arg expected_handedness)" />

</robot>
