<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wujihand_view">

  <xacro:arg name="mesh_pkg" default="asset_description" />
  <xacro:arg name="hand" default="both" />
  <xacro:arg name="left_xyz" default="0 0.18 0" />
  <xacro:arg name="left_rpy" default="0 0 0" />
  <xacro:arg name="right_xyz" default="0 -0.18 0" />
  <xacro:arg name="right_rpy" default="0 0 0" />

  <xacro:property name="hand" value="$(arg hand)" />

  <xacro:include filename="$(find asset_description)/wuji/urdf/left.urdf" />
  <xacro:include filename="$(find asset_description)/wuji/urdf/right.urdf" />

  <link name="world" />

  <xacro:if value="${hand == 'left' or hand == 'both'}">
    <xacro:wujihand_left_description mesh_pkg="$(arg mesh_pkg)" />
    <joint name="world_to_left_palm" type="fixed">
      <origin xyz="$(arg left_xyz)" rpy="$(arg left_rpy)" />
      <parent link="world" />
      <child link="left_palm_link" />
    </joint>
  </xacro:if>

  <xacro:if value="${hand == 'right' or hand == 'both'}">
    <xacro:wujihand_right_description mesh_pkg="$(arg mesh_pkg)" />
    <joint name="world_to_right_palm" type="fixed">
      <origin xyz="$(arg right_xyz)" rpy="$(arg right_rpy)" />
      <parent link="world" />
      <child link="right_palm_link" />
    </joint>
  </xacro:if>

</robot>
