<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wujihand-right">

	<xacro:arg name="use_mock_hardware" default="false" />
	<xacro:arg name="usb_serial_number" default="" />
	<xacro:arg name="expected_handedness" default="" />
	<xacro:arg name="mount_xyz" default="0 0 0" />
	<xacro:arg name="mount_rpy" default="0 0 0" />

	<!--
		Composite URDF (xacro) for the right Wuji hand.
		- Includes the visual/collision/inertial model from `asset_description`.
		- Includes ros2_control tags from this package.
		Note: no RViz materials/colors are included.
	-->

	<link name="world" />

	<!-- Hand model (links/joints/meshes) -->
	<xacro:include filename="$(find asset_description)/wuji/urdf/right.urdf" />

	<!-- ros2_control description -->
	<xacro:include filename="$(find wujihand_system)/ros2_control/wujihand-right.ros2_control.xacro" />

	<xacro:wujihand_right_description mesh_pkg="asset_description" />
	<joint name="world_to_right_palm" type="fixed">
		<origin xyz="$(arg mount_xyz)" rpy="$(arg mount_rpy)" />
		<parent link="world" />
		<child link="right_palm_link" />
	</joint>
	<xacro:wujihand_right_ros2_control
		name="wujihand_right"
		use_mock_hardware="$(arg use_mock_hardware)"
		usb_serial_number="$(arg usb_serial_number)"
		expected_handedness="$(arg expected_handedness)" />

</robot>
