<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="marvin_left">

  <!--
    Composite URDF (xacro) for the left Marvin arm.
    - Includes the visual/collision/inertial model from `asset_description`.
    - Appends ros2_control tags from this package.
  -->

  <!-- Arm model (links/joints/meshes) -->
  <xacro:include filename="$(find asset_description)/marvin/urdf/Marvin M6-S-L-CCS-696-V4.0 urdf.urdf" />

  <!-- ros2_control description -->
  <xacro:include filename="$(find marvin_system)/description/ros2_control/marvin_arm.ros2_control.xacro" />
  <xacro:marvin_arm_ros2_control name="marvin_left" suffix="L" side="left" />

</robot>
