<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="marvin_wuji_simplified_collision">

  <xacro:arg name="left_xyz" default="0 0.037 0.3618964" />
  <xacro:arg name="left_rpy" default="-1.5707963 0 0" />
  <xacro:arg name="right_xyz" default="0 -0.037 0.3618964" />
  <xacro:arg name="right_rpy" default="1.5707963 0 0" />

  <xacro:arg name="use_wujihand_L" default="true" />
  <xacro:arg name="use_wujihand_R" default="true" />

  <xacro:arg name="left_hand_mount_xyz" default="0 -0.095 0" />
  <xacro:arg name="left_hand_mount_rpy" default="1.5708 -0.7854 0" />
  <xacro:arg name="left_palm_xyz" default="0 0 0.016" />
  <xacro:arg name="left_palm_rpy" default="0 0 3.1415926" />

  <xacro:arg name="right_hand_mount_xyz" default="0 -0.095 0" />
  <xacro:arg name="right_hand_mount_rpy" default="1.5708 -2.3562 0" />
  <xacro:arg name="right_palm_xyz" default="0 0 0.016" />
  <xacro:arg name="right_palm_rpy" default="0 0 3.1415926" />

  <link name="world" />

  <xacro:include filename="$(find asset_description)/marvin/urdf/Marvin M6-S-L-CCS-696-V4.0 urdf.urdf" />
  <xacro:include filename="$(find asset_description)/marvin/urdf/Marvin M6-S-R-CCS-696-V4.0 urdf.urdf" />

  <xacro:include filename="$(find asset_description)/wuji/urdf/left_simplified_collision.urdf" />
  <xacro:include filename="$(find asset_description)/wuji/urdf/right_simplified_collision.urdf" />

  <joint name="world_to_base_l" type="fixed">
    <origin xyz="$(arg left_xyz)" rpy="$(arg left_rpy)" />
    <parent link="world" />
    <child link="Base_L" />
  </joint>

  <joint name="world_to_base_r" type="fixed">
    <origin xyz="$(arg right_xyz)" rpy="$(arg right_rpy)" />
    <parent link="world" />
    <child link="Base_R" />
  </joint>

  <xacro:if value="$(arg use_wujihand_L)">
    <link name="hand_mount_L" />
    <joint name="link7_to_hand_mount_L" type="fixed">
      <origin xyz="$(arg left_hand_mount_xyz)" rpy="$(arg left_hand_mount_rpy)" />
      <parent link="Link7_L" />
      <child link="hand_mount_L" />
    </joint>

    <xacro:wujihand_left_simplified_collision_description mesh_pkg="asset_description" />

    <joint name="hand_mount_L_to_left_palm" type="fixed">
      <origin xyz="$(arg left_palm_xyz)" rpy="$(arg left_palm_rpy)" />
      <parent link="hand_mount_L" />
      <child link="left_palm_link" />
    </joint>
  </xacro:if>

  <xacro:if value="$(arg use_wujihand_R)">
    <link name="hand_mount_R" />
    <joint name="link7_to_hand_mount_R" type="fixed">
      <origin xyz="$(arg right_hand_mount_xyz)" rpy="$(arg right_hand_mount_rpy)" />
      <parent link="Link7_R" />
      <child link="hand_mount_R" />
    </joint>

    <xacro:wujihand_right_simplified_collision_description mesh_pkg="asset_description" />

    <joint name="hand_mount_R_to_right_palm" type="fixed">
      <origin xyz="$(arg right_palm_xyz)" rpy="$(arg right_palm_rpy)" />
      <parent link="hand_mount_R" />
      <child link="right_palm_link" />
    </joint>
  </xacro:if>

</robot>
