<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="wujihand_right_ros2_control" params="name use_mock_hardware usb_serial_number expected_handedness">

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${str(use_mock_hardware).lower() == 'true'}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="mock_sensor_commands">false</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <xacro:unless value="${str(use_mock_hardware).lower() == 'true'}">
          <plugin>wujihand_system/WujiHandHardware</plugin>
          <param name="low_pass_cutoff_frequency">5.0</param>
          <param name="usb_serial_number">${usb_serial_number}</param>
          <param name="expected_handedness">${expected_handedness}</param>
        </xacro:unless>
      </hardware>

      <joint name="right_finger1_joint1">
        <command_interface name="position">
          <param name="min">0.0368</param>
          <param name="max">1.6125</param>
          <param name="initial_value">0.0368</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger1_joint2">
        <command_interface name="position">
          <param name="min">-0.1576</param>
          <param name="max">0.9312</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger1_joint3">
        <command_interface name="position">
          <param name="min">-0.4638</param>
          <param name="max">1.5607</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger1_joint4">
        <command_interface name="position">
          <param name="min">-0.4829</param>
          <param name="max">1.5451</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="right_finger2_joint1">
        <command_interface name="position">
          <param name="min">-0.1611</param>
          <param name="max">1.5588</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger2_joint2">
        <command_interface name="position">
          <param name="min">-0.4044</param>
          <param name="max">0.3054</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger2_joint3">
        <command_interface name="position">
          <param name="min">-0.4714</param>
          <param name="max">1.5504</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger2_joint4">
        <command_interface name="position">
          <param name="min">-0.4644</param>
          <param name="max">1.5753</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="right_finger3_joint1">
        <command_interface name="position">
          <param name="min">-0.1719</param>
          <param name="max">1.5496</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger3_joint2">
        <command_interface name="position">
          <param name="min">-0.4014</param>
          <param name="max">0.2996</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger3_joint3">
        <command_interface name="position">
          <param name="min">-0.4632</param>
          <param name="max">1.5613</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger3_joint4">
        <command_interface name="position">
          <param name="min">-0.4697</param>
          <param name="max">1.5702</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="right_finger4_joint1">
        <command_interface name="position">
          <param name="min">-0.1601</param>
          <param name="max">1.5534</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger4_joint2">
        <command_interface name="position">
          <param name="min">-0.4134</param>
          <param name="max">0.3161</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger4_joint3">
        <command_interface name="position">
          <param name="min">-0.4782</param>
          <param name="max">1.5448</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger4_joint4">
        <command_interface name="position">
          <param name="min">-0.4825</param>
          <param name="max">1.5550</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="right_finger5_joint1">
        <command_interface name="position">
          <param name="min">-0.1674</param>
          <param name="max">1.5539</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger5_joint2">
        <command_interface name="position">
          <param name="min">-0.4203</param>
          <param name="max">0.2931</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger5_joint3">
        <command_interface name="position">
          <param name="min">-0.4804</param>
          <param name="max">1.5420</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_finger5_joint4">
        <command_interface name="position">
          <param name="min">-0.4705</param>
          <param name="max">1.5709</param>
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
