.agents
.vscode
.claude
.pytest_cache/
.venv_ros2/
.venv_policy/
build
install
log
__pycache__/
*.pyc
*.pyo
manus_system/bringup/calibrations/*
manus_system/third_party/lib/libManusSDK.so
htc_system/trajectory/*
CLAUDE.md
