<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!--
		Usage (example):
			<xacro:include filename="$(find-pkg-share ros2_control_wujihand)/description/ros2_control/wujihand-right.ros2_control.xacro"/>
			<xacro:wujihand_right_ros2_control name="wujihand_right"/>
	-->

	<xacro:macro name="wujihand_right_ros2_control" params="name">

		<ros2_control name="${name}" type="system">
			<hardware>
				<plugin>ros2_control_wujihand/WujiHandHardware</plugin>
			</hardware>

			<!--
				Joint limits from provided table:
					Finger 0..4 Joint 0..3  ->  finger0..4_joint0..3
			-->

			<joint name="finger0_joint0">
				<command_interface name="position">
					<param name="min">-0.0343273</param>
					<param name="max">1.74405</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger0_joint1">
				<command_interface name="position">
					<param name="min">-0.241261</param>
					<param name="max">0.945935</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger0_joint2">
				<command_interface name="position">
					<param name="min">-0.540319</param>
					<param name="max">1.7011</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger0_joint3">
				<command_interface name="position">
					<param name="min">-0.584444</param>
					<param name="max">1.63935</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>

			<joint name="finger1_joint0">
				<command_interface name="position">
					<param name="min">-0.283902</param>
					<param name="max">1.62698</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger1_joint1">
				<command_interface name="position">
					<param name="min">-0.540946</param>
					<param name="max">0.448065</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger1_joint2">
				<command_interface name="position">
					<param name="min">-0.551836</param>
					<param name="max">1.66596</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger1_joint3">
				<command_interface name="position">
					<param name="min">-0.568183</param>
					<param name="max">1.69382</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>

			<joint name="finger2_joint0">
				<command_interface name="position">
					<param name="min">-0.274021</param>
					<param name="max">1.63671</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger2_joint1">
				<command_interface name="position">
					<param name="min">-0.45005</param>
					<param name="max">0.339799</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger2_joint2">
				<command_interface name="position">
					<param name="min">-0.58411</param>
					<param name="max">1.63868</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger2_joint3">
				<command_interface name="position">
					<param name="min">-0.545375</param>
					<param name="max">1.72185</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>

			<joint name="finger3_joint0">
				<command_interface name="position">
					<param name="min">-0.248642</param>
					<param name="max">1.65442</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger3_joint1">
				<command_interface name="position">
					<param name="min">-0.418249</param>
					<param name="max">0.369714</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger3_joint2">
				<command_interface name="position">
					<param name="min">-0.571115</param>
					<param name="max">1.65579</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger3_joint3">
				<command_interface name="position">
					<param name="min">-0.566777</param>
					<param name="max">1.69417</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>

			<joint name="finger4_joint0">
				<command_interface name="position">
					<param name="min">-0.25879</param>
					<param name="max">1.6567</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger4_joint1">
				<command_interface name="position">
					<param name="min">-0.412827</param>
					<param name="max">0.396453</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger4_joint2">
				<command_interface name="position">
					<param name="min">-0.556739</param>
					<param name="max">1.68019</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>
			<joint name="finger4_joint3">
				<command_interface name="position">
					<param name="min">-0.572835</param>
					<param name="max">1.69304</param>
				</command_interface>
				<state_interface name="position"/>
			</joint>

		</ros2_control>

	</xacro:macro>

</robot>