<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wujihand-right">

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="mesh_pkg" default="asset_description" />
  <xacro:arg name="side" default="right" />

  <xacro:include filename="$(find asset_description)/wuji/urdf/right.urdf" />
  <xacro:wujihand_right_description mesh_pkg="$(arg mesh_pkg)" />

</robot>
